*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
}

body{
    background: #f8f9fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}




.container{
    height: 100vh;
    width: 300px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

   


   

   
}



.subtitle{
    display: inline-block;
 margin: 5px 0 20px;
    opacity: 0.8;
}
.header{
    background-color: dodgerblue;
    color:#fff;
    padding: 30px 20px;
 


}
.header input{
    background-color: rgba(0, 0, 0,0.3);
    border: 0;
    border-radius: 50px;
    color: #fff;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;

}
.header input:focus{
    outline: none;
}
.user-list{
margin: 0;
padding: 0;
list-style-type: none;
max-height: 400px;
background-color: #fff;
overflow-y: auto;
}


.user-list li{
    display: flex;

padding: 20px ;
}
h4{
    margin:0 0 10px;
}
p{
    font-size: 12px;
padding-top: 3px;
display: flex;
flex-direction: column-reverse;
position: relative;
right: 80px;
top: -20px;
}
li.hide{
    display: none;
}